<footer>
    <span class="showFooter fa fa-angle-double-up"></span>
    <div class="container">
        <div class="row">
            <div class="row col-8 col-xl-11 col-lg-10 col-sm-9 col-md-10">
                <div class="col-9 col-xl-4 col-lg-4 col-sm-9 col-md-4">
                    <h5><u>A propos</u></h5>
                    <a href="http://societelorrainedemycologie.wifeo.com/presentation.php">Qui sommes-nous ?</a>
                </div>
                <div class="col-9 col-xl-4 col-lg-4 col-sm-9 col-md-4">
                    <h5><u>Contact</u></h5>
                    <a href="http://societelorrainedemycologie.wifeo.com/contact.php">Nous contacter</a>
                </div>
                <div class="col-9 col-xl-4 col-lg-4 col-sm-9 col-md-4">
                    <h5><u>Liens</u></h5>
                </div>
            </div>
            <div class="col-4 col-xl-1 col-lg-2 col-sm-3 col-md-2">
                <img id="logo-slm-footer" src="{{ base_url() }}/assets/img/Logo_SLM.png">
            </div>
        </div>
        <div class="copyright">
            <p>
                <small>Copyright © SLM, 2018 - Tous droits réservés</small>
            </p>
        </div>
    </div>
</footer>

{% block js %}
    <script type="text/javascript">
        $(() => {
            $('.showFooter').on('click', () => {
                $('footer').toggleClass('active')
                $('.showFooter').toggleClass('fa-angle-double-down')
            });

            $(window).on('scroll', () => {
                $('footer').removeClass('active')
                $('.showFooter').removeClass('fa-angle-double-down')
            });
        });
    </script>
{% endblock %}