input[type=submit], button {
    cursor: pointer;
}

nav.navbar {
    background-color: #CB4531 !important;
}

img#logo-slm {
    width: 30px;
    height: auto;
    position: relative;
    top: -5px;
}

.btn-slm {
    border-color: #CB4531 !important;
    background-color: #CB4531 !important;
}

.btn-slm-yellow {
    color: black !important;
    border-color: #EACE36 !important;
    background-color: #EACE36 !important;
}

.pagination li.page-item a.page-link {
    color: #CB4531 !important;
}

.pagination li.page-item.active a.page-link {
    color: white !important;
    border-color: #CB4531 !important;
    background-color: #CB4531 !important;
}

.pagination li.page-item.disabled a.page-link {
    color: grey !important;
    border-color: lightgrey !important;
    background-color: lightgrey !important;
}