.fa {
    font-size: 30px !important;
}

.container {
    margin-bottom: 50px !important;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 27px;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    color: white;
    background-color: #CB4531;
}

footer.active {
    height: 225px;
}

footer .showFooter {
    width: 100%;
    font-size: 25px !important;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid #EACE36;
}

footer div.container > div.row > div {
    margin: 15px 0;
}

footer div.container div.copyright p {
    margin: 0;
    padding-bottom: 15px;
}

footer a, footer a:hover {
    color: white;
}

input[type=submit], button {
    cursor: pointer;
}

nav.navbar {
    padding-bottom: 0;
    background-color: #CB4531 !important;
}

ul.navbar-nav {
    margin-top: 4px !important;
}

ul.navbar-nav li.nav-item a.nav-link {
    color: white;
    margin-bottom: 5px !important;
    display: inline-block !important;
}

ul.navbar-nav li.nav-item.active a.nav-link {
    margin-bottom: 0 !important;
    border-bottom: 5px solid #EACE36 !important;
}

@media screen and (max-width: 991px) {
    nav.navbar .btn {
        margin-top: 10px;
    }
}

img#logo-slm {
    width: 30px;
    height: auto;
    position: relative;
    top: -5px;
}

img#logo-slm-footer {
    width: 100px;
    height: auto;
}

.text-color-slm {
    color: #CB4531 !important;
}

.carousel-indicators li.active {
    background-color: #CB4531 !important;
}

:root {
    --carousel-control-width: 10%;
}

.carousel-item {
    margin: 0 var(--carousel-control-width) !important;
}

.carousel-item img {
    width: calc(100% - var(--carousel-control-width) * 2) !important;
}

.carousel-control-prev, .carousel-control-next {
    width: var(--carousel-control-width) !important;
}

.btn-slm {
    color: white !important;
    border-color: #CB4531 !important;
    background-color: #CB4531 !important;
}

.btn-slm-yellow {
    color: black !important;
    border-color: #EACE36 !important;
    background-color: #EACE36 !important;
}

.btn-slm-white {
    color: #CB4531 !important;
    border-color: #CB4531 !important;
    background-color: white !important;
}

.btn-slm-white:hover {
    color: white !important;
    border-color: #CB4531 !important;
    background-color: #CB4531 !important;
}

.pagination li.page-item a.page-link {
    color: #CB4531 !important;
}

.pagination li.page-item.active a.page-link {
    color: white !important;
    border-color: #CB4531 !important;
    background-color: #CB4531 !important;
}

.pagination li.page-item.disabled a.page-link {
    color: grey !important;
    border-color: lightgrey !important;
    background-color: lightgrey !important;
}

img.specie_img {
    width: 100%;
    height: auto;
}

.fa-plus-circle {
    font-size: 16px !important;
}