input[type=submit], button {
    cursor: pointer;
}

nav.navbar {
    padding-bottom: 0;
    background-color: #CB4531 !important;
}

ul.navbar-nav {
    margin-top: 4px !important;
}

ul.navbar-nav li.nav-item a.nav-link {
    color: white;
    margin-bottom: 5px !important;
    display: inline-block !important;
}

ul.navbar-nav li.nav-item.active a.nav-link {
    margin-bottom: 0 !important;
    border-bottom: 5px solid #EACE36 !important;
}

@media screen and (max-width: 991px) {
    nav.navbar .btn {
        margin-top: 10px;
    }
}

img#logo-slm {
    width: 30px;
    height: auto;
    position: relative;
    top: -5px;
}

.btn-slm {
    border-color: #CB4531 !important;
    background-color: #CB4531 !important;
}

.btn-slm-yellow {
    color: black !important;
    border-color: #EACE36 !important;
    background-color: #EACE36 !important;
}

.pagination li.page-item a.page-link {
    color: #CB4531 !important;
}

.pagination li.page-item.active a.page-link {
    color: white !important;
    border-color: #CB4531 !important;
    background-color: #CB4531 !important;
}

.pagination li.page-item.disabled a.page-link {
    color: grey !important;
    border-color: lightgrey !important;
    background-color: lightgrey !important;
}